﻿@model GetDebt.Web.ViewModel.CaseMainViewModel
@{
    ViewBag.Title = "Create";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    @*<h3>Dodaj nową sprawę</h3>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <div class="form-group">
                <div id="formDaneSprawy" class="form-horizontal col-sm-1">
                    <div class="container">
                        <div class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Dane sprawy</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.CaseNumber, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.CaseNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Sign, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.Sign, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.TextBox("CreationDate", Model.CreationDate != null ? Model.CreationDate : DateTime.Now, new { @class = "form-control datetimepicker2" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.BalanceID, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.BalanceID, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.CaseStage.Stage, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.DropDownListFor(model => model.CaseStageID, new SelectList(Model.CaseStagesAll, "Id", "Stage"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="formSalod" class="form-horizontal col-lg-offset-9">
                    <div class="container">
                        <div class="panel-group" style="max-width : 600px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Saldo</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Balance.Due, htmlAttributes: new { @class = "control-label col-lg2" })
                                            @Html.EditorFor(model => model.Balance.Due, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Balance.Expences, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.Balance.Expences, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Balance.Receivables, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.Balance.Receivables, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Balance.Interest, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.Balance.Interest, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Balance.Remission, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.Balance.Remission, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Balance.Paid, htmlAttributes: new { @class = "control-label col-lg2" })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.EditorFor(model => model.Balance.Paid, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Dodaj" />
                        </div>
                    </div>
                </div>
            </div>
        }

            <script type="text/javascript">
                $(function () {
                    $('.datetimepicker2').datepicker();
                });
            </script>*@

    <input type="text" id="text" />
    <input type="checkbox" id="checkbox" />
    <input type="number" id="number" />

    <button onclick="submit()">Post with jQuery AJAX</button>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        //submit data with jQuery AJAX
        function submit() {
            var data = {
                TextBoxStringData: $('#text').val(),
                TextBoxIntData: $('#number').val(),
                CheckboxData: $('#checkbox').is(':checked')
            };

            $.post("/Case/FormFour", { formData: data },
                function () { alert('Successfully posted to server') });
        }
    </script>
    <script id="GetSebmanModelsPageJson" type="application/json">
        @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Json))
    </script>
</body>
</html >
