﻿@model GetDebt.Web.ViewModel.CaseMainViewModel

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Dynamic Tabs</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#case">Sprawa</a></li>
            <li><a data-toggle="tab" href="#debtor">Dlużnik</a></li>
            <li><a data-toggle="tab" href="#participant">Uczestnik</a></li>
        </ul>

        <div class="tab-content">
            <div id="case" class="tab-pane fade in active">
                <h3>Dane szczegółowe</h3>
                @Html.EditorForModel(Model)
            </div>
            <div id="debtor" class="tab-pane fade">
                <h3>Dłużnik</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="participant" class="tab-pane fade">
                <h3>Uczestnik</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>

</body>
</html>
