﻿@model IEnumerable<GetDebt.Web.ViewModel.CaseMainViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}

<p>

</p>


<div class="container col">
    <input class="form-control" id="myInput" type="text" size="100" placeholder="Szukaj..">
    <div class="table-responsive">
        <table class="table table-hover col-lg-push-2">
            <caption class="h2">Lista spraw</caption>
            <tr>
                <th></th>
                <th>Nr Sprawy</th>
                <th>Rok Sprawy</th>
                <th>Oznaczenie</th>
                <th>Data Dodania</th>
                <th>Data Zamknięcia</th>
                <th>Etap sprawy</th>
                <th>Dłużnik</th>
                <th>Należności</th>
                <th>Do Zapłaty</th>
                <th>Data Salda</th>
            </tr>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td>@item.CaseNumber</td>
                        <td>@item.CaseYear</td>
                        <td>@item.Sign</td>
                        <td>@item.CreationDate.ToShortDateString().ToString()</td>
                        <td>@item.ClosingDate</td>
                        <td>@item.CaseStage.Stage</td>
                        <td>@item.Balance.Receivables</td>
                        <td>@item.Balance.Due</td>
                        <td>@item.Balance.BalanceDate.ToShortDateString().ToString()</td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.ActionLink("Dodaj Sprawę", "Create", null, new { @class = "btn btn-success btn-md" })
</div>

@section scripts {
    <script src="~/Scripts/React/dist/bundle.js"></script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}